@model List<Customer>

@{
    ViewData["Title"] = "Home";
}
<br />
<div class="row" style="min-height:600px;">
    <div class="col-2"> </div>
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Northwind Inc.</h1>
            <hr />
            <p><b>Bienvenido al Sistema de Gestión Integral de Northwind Inc.</b></p>
            <p> </p>
            <div class="text-center">
                <img src="https://www.logomyway.com/logos_new/4899/1.png" class="img-fluid" />
            </div>
            <br />
            <br />
            <br />
            <hr />
            <br />
        </div>
    </div>
    <div class="col-2"> </div>
</div>

